html,
body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

body {
    background-color: rgb(206, 249, 243);
    color: white;
    text-shadow: 0px 1px 1px black;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 1em;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0px;
    bottom: 3px;
    font-size: 90%;
}

a {
    color: white;
}

.face {
    border: 2px solid black;
    border-radius: 10px;
}

.rightside img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content:
}

.logo {
    width: 100%;
    color: #fff;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 10px;
    box-sizing: border-box;
}

.logo h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: aage 2s linear infinite;
    animation-duration: alternate;
}
